[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/shoehne/imgui
[submodule "Libraries/optick"]
	path = Libraries/optick
	url = https://github.com/shoehne/optick
[submodule "Libraries/yaml-cpp"]
	path = Libraries/yaml-cpp
	url = https://github.com/shoehne/yaml-cpp
[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/shoehne/googletest
