[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Libraries/yojimbo"]
	path = Libraries/yojimbo
	url = https://github.com/shoehne/yojimbo.git
