# Directories
.vs
bin/
bin-obj/
Libraries/
.codelite/

# Visual Studio files
**.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# gmake files
**.workspace
**.workspace.layout
Makefile
Client/Client.project
Client/Makefile
Client/compile_flags.txt
Server/Server.project
Server/Makefile
Server/compile_flags.txt
Virtual_Tabletop_API/Virtual_Tabletop_API.project
Virtual_Tabletop_API/Makefile
Virtual_Tabletop_API/compile_flags.txt
